<ossec_config>
  {% if ossec_active_response_disabled is defined %}
  <active-response>
    <disabled>{{ ossec_active_response_disabled }}</disabled>
  </active-response>
  {% endif %}
  <client>
    <notify_time>300</notify_time>
    <time-reconnect>43200</time-reconnect>
    {% if ossec_server is defined %}
    <server-ip>{{ ossec_server }}</server-ip>
    {% endif %}
    {% if ossec_server_name is defined %}
    <server-hostname>{{ ossec_server_name }}</server-hostname>
    {% endif %}
    {% if ossec_profile is defined %}
    <config-profile>{{ ossec_profile }}</config-profile>
    {% endif %}
  </client>
</ossec_config>
